<?xml version="1.0" ?>
<robot name="carrier">
  <properties arm="0.2250" kf="9.367188e-08" km="1.896855e-10" thrust2weight="2.2" max_speed_kmh="60.0" gnd_eff_coeff="11.36859" prop_radius="1.012500e-01" drag_coeff_xy="2.948192e-05" drag_coeff_z="3.311958e-05" dw_coeff_1="2267.18" dw_coeff_2=".16" dw_coeff_3="-.11" />
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.5"/>
      <inertia ixx="3.164063e-02" ixy="0.0" ixz="0.0" iyy="3.164063e-02" iyz="0.0" izz="6.328125e-02"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry><cylinder radius="0.1350" length="0.0675"/></geometry>
      <material name="grey"><color rgba=".5 .5 .5 1"/></material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry><cylinder radius="0.1350" length="0.0675"/></geometry>
    </collision>
  </link>
  <link name="prop0_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1591 -0.1591 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop0_link"/>
  </joint>
  <link name="prop1_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1591 0.1591 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop1_link"/>
  </joint>
  <link name="prop2_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.1591 0.1591 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop2_link"/>
  </joint>
  <link name="prop3_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.1591 -0.1591 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="prop3_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop3_link"/>
  </joint>
  <link name="center_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="center_joint" type="fixed">
    <parent link="base_link"/>
    <child link="center_link"/>
  </joint>

</robot>
